<% layout('/layout') %> 
        <h1><%= user.username %>'s To Do List <a href='/todoList/<%=user._id%>/cal'><i class="far fa-calendar"></i></a>
            <a href='/todoList/<%=user._id%>'><i class="fas fa-clipboard-list"></i></a></h1>
        <div class="add-todo-div">
            <form action='/todoList/<%=user._id%> ' method="POST"> 
                <label for="newTodo">Add To Do:</label>
                <input type="text" name="newTodo" id="newTodo" required>
                <button>Add</button>
            </form>
        </div>
        <div id="todo-item-divs">
            <% for (let todo of user.todos) { %>
                <div class="todo-item" id="<%=todo._id%>" class="prty-<%=todo.priority%>" draggable="true">
                    <div class="todo-item-header">
                        <input type="text" readonly="true" value="<%=todo.task%>" id="<%=todo._id%>-task">
                        <div class="todo-item-title-div">
                            <% if (todo.status === "Complete") { %> 
                            <span id="<%=todo._id%>-comp" title="Uncomplete" class="completeSpan"><i class="fas fa-times"></i></span>
                            <% } else { %> 
                            <span id="<%=todo._id%>-comp" title="Complete" class="completeSpan"><i class="fas fa-check"></i></span>
                            <% } %> 
                        </div>
                    </div>
                    <div class="todo-detail notvisible" id="<%=todo._id%>-todo-detail-div" >
                        <form action="POST">
                            <div>
                                <label for="dueDate">Due Date:</label>
                                <input type="date" name="dueDate" id="<%=todo._id%>-dueDate" class="readonly dueDateInput" readonly>
                            </div>
                            <div>
                                <label for="notes">Notes:</label>
                                <textarea name="notes" id="<%=todo._id%>-notes" cols="20" rows="5" class="readonly notesInput" readonly><%if(todo.notes)%><%=todo.notes%></textarea>
                            </div>
                            <div>
                                <label for="creator">Created By: <%=todo.createdBy.username%></label>
                            </div>
                        </form>
                            <div class="todo-detail-icons">
                                <span title="Edit" class="todo-edit" id="<%=todo._id%>-editTodo"><i class="fas fa-pencil-alt"></i></span>
                                <span title="Save" id="<%=todo._id%>-saveTodo" class="notvisible todo-save"><i class="far fa-save"></span></i>
                
                                <form action="/todoList/<%=user._id%>/todo/<%=todo._id%>?_method=DELETE" method="POST" id="<%=todo._id%>-formDelete">
                                <button class="deletebtn"><span title="Delete" id="<%=todo._id%>-deleteTodo"><i class="far fa-trash-alt"></span></i></button>
                                </form>
                            </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="maindiv">
            <% for (let topic of topics) { %> 
            <div class="todo-div" id="div-<%=topic.name%>">
                <div class="todo-header">
                    <%=topic.name%>
                </div>
            </div>
            <% } %> 
            <div class="todo-div" id="div-unknown">
                <div class="todo-header">
                    Unknown
                </div>
            </div>
        </div>
        <div id="completedDivBtn">
            Show Completed
            <label class="switch">
                <input type="checkbox" id="showCompleted" name="showCompleted">
                <span class="slider"></span>
            </label>
        </div>
    </main>
    <script>
        const todos = <%-JSON.stringify(user.todos)%>;
        const user = <%-JSON.stringify(user)%>;
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/mainjs.js"></script>