<% layout('/layout') %> 
        <h1>My Setup</h1>
        <div class="maindivSetup">
            <div>
                <% if (topics.length>0) { %> 
                Current Topics:
                <% for (let topic of topics) { %>
                    <div class="topic-card">
                        <p><%=topic.name%><p>
                        <div class="remove-topic">
                            <form action="/topics/<%= topic._id %>?_method=DELETE" method="POST">
                            <button>Delete</button></form>
                        </div>
                    </div>
                <% }} %> 
                <form action="/topics" method="POST">
                    <label for="topics">Create New Topic: </label>
                    <input type="text" id="topics" name="topics" required>
                    <button>New</button>
                </form>
            </div>
            <div class="setupStyle">
                Style:
                <select name="theme" id="theme">
                    <option value="glass" <%= user.defaultView === "glass" ? "selected" : "" %> >Glass</option>
                    <option value="blue" <%= user.defaultView === "blue" ? "selected" : "" %> >Blue</option>
                    <option value="blackAndWhite" <%= user.defaultView === "blackAndWhite" ? "selected" : "" %> >Black & White</option>
                </select>
            </div>
            <div class="setupStyle">
                <div id="completedDivBtn">
                    Hide todo list?
                    <label class="switch">
                        <input type="checkbox" id="showCompleted" name="showCompleted" <%= user.public === false ? "checked" : "" %>>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </main>

    <script>
        const user = <%-JSON.stringify(user)%>;
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/style.js"></script>
